<span id="busuanzi_container_site_pv" style="display: none;">
    本站总访问量<span id="busuanzi_value_site_pv"></span>次
</span>
<span id="busuanzi_container_site_uv" style="display: none;">
  本站访客数<span id="busuanzi_value_site_uv"></span>人次
</span>

<header class="header-section">
	<div class="header-close">
		<i class="fa fa-times"></i>
	</div>
	<!-- <div class="header-warp">
		<div id="datetimepicker12" class="calendar"></div>		
	</div> -->

	<div class="timelines">

		<div id="timeline">
			<div class="timeline-item">
				<div class="timeline-icon">
					<img src="{{site.baseurl}}/assets/img/icon.png">
				</div>
				<div class="timeline-content">
					<h2>2014-2018</h2>
					<p><a href="{{site.baseurl}}/posts/2014">
						2014：同期训练生
					</a></p>
					<p><a href="{{site.baseurl}}/posts/2015">
						2015：重庆ETM夏季公演
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20150910">
						2015.09.10：通过考核
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20151207">
						2015.12.07：共赴海外
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20170427">
						2017.04.27：关系特别好
					</a></p>
				</div>
			</div>
			
			<div class="timeline-item">
				<div class="timeline-icon">
					<img src="{{site.baseurl}}/assets/img/icon.png">

				</div>
				<div class="timeline-content right">
					<h2>201901</h2>
					<p><a href="{{site.baseurl}}/posts/201901">
						2019.01：和妈妈打电话
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190122">
						2019.01.22：大小猪蹄子
					</a></p>
				</div>
			</div>
			<div class="timeline-item">
				<div class="timeline-icon">
					<img src="{{site.baseurl}}/assets/img/icon.png">

				</div>
				<div class="timeline-content">
					<h2>201902</h2>
					<p><a href="{{site.baseurl}}/posts/201902">
						2019.02：夜间出行
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190202">
						2019.02.02：我找到你了
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190222">
						2019.02.22：冬季恋歌
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190226">
						2019.02.26：麋鹿 森林
					</a></p>
				</div>
			</div>
			<div class="timeline-item">
				<div class="timeline-icon">
					<img src="{{site.baseurl}}/assets/img/icon.png">

				</div>
				<div class="timeline-content right">
					<h2>201903</h2>
					<p><a href="{{site.baseurl}}/posts/20190323">
						2019.03.23：未播出的生日
					</a></p>
				</div>
			</div>

			<div class="timeline-item">
				<div class="timeline-icon">
					<img src="{{site.baseurl}}/assets/img/icon.png">

				</div>
				<div class="timeline-content">
					<h2>201904</h2>
					<p><a href="{{site.baseurl}}/posts/20190406">
						2019.04.06：坐一起 / 限时考验 / 为彼此应援 / 曾经的遗憾
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190409">
						2019.04.09：平板支撑
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190420">
						2019.04.20：浪漫一次 / 贴身battle / 棒棒糖会议 / 悟空公演 / 首选人
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190421">
						2019.04.21：互怼日记
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190427">
						2019.04.27：好吃的留给你 / 拥抱 / 带你去荒岛
					</a></p>
				</div>

			</div>
			<div class="timeline-item">
				<div class="timeline-icon">
					<img src="{{site.baseurl}}/assets/img/icon.png">

				</div>
				<div class="timeline-content right">
					<h2>201905</h2>
					<p><a href="{{site.baseurl}}/posts/20190504">
						2019.05.04：火锅引力不及你 / 和你一组/热爱与责任
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190505">
						2019.05.05：最珍惜的玩偶
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190510">
						2019.05.10：火锅进行时 / 表情下线中
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190511">
						2019.05.11：合适的人与事 / 理想男友 / 与子同袍 
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190512">
						2019.05.12：陪你疯陪你闹
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190513">
						2019.05.13：“夸夸”你 / 互相扣洗脸帽 / 少一厘米都不行 / 不救你
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190514">
						2019.05.14：懂你的脾气 / 基本舞步的默契
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190515">
						2019.05.15：问答环节 / 因为所以 / 马到成功 
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190516">
						2019.05.16：下周你就来了
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190519">
						2019.05.19：空气斩
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190520">
						2019.05.20：美食飞行棋
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190521">
						2019.05.21：给你留了位置
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190522">
						2019.05.22：爱的大爬梯
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190523">
						2019.05.23：我弄你了
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190527">
						2019.05.27：gogoboi采访
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190528">
						2019.05.28：你真的是 / 点汉堡 / 我来我来 
					</a></p>
				</div>

			</div>
			<div class="timeline-item">
				<div class="timeline-icon">
					<img src="{{site.baseurl}}/assets/img/icon.png">

				</div>
				<div class="timeline-content">
					<h2>201906</h2>
					<p><a href="{{site.baseurl}}/posts/20190601">
						2019.06.01：玉米小分队 / 天台读信 / 倒立喝水 / 赢了十几局 
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190602">
						2019.06.02：YAO’s vlog
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190608">
						2019.06.08：成团夜
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190609">
						2019.06.09：现场嗑cp 
					</a></p>

					<p><a href="{{site.baseurl}}/posts/20190611">
						2019.06.11：盯着你 / 踢屁屁 
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190617">
						2019.06.17：第一个想到你
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190620">
						2019.06.20：生日礼物
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190621">
						2019.06.21：周南南生日快乐
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190622">
						2019.06.22：相处日常
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190623">
						2019.06.23：躲在衣柜里 / 吃同一碗面
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190626">
						2019.06.26：你的喜好我都记得
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190630">
						20190.6.30：V WORLD
					</a></p>
				</div>

			</div>
			<div class="timeline-item">
				<div class="timeline-icon">
					<img src="{{site.baseurl}}/assets/img/icon.png">
				</div>
				<div class="timeline-content right">
					<h2>201907</h2>
					<p><a href="{{site.baseurl}}/posts/20190703">
						2019.07.03：当心我卡你
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190705">
						2019.07.05：Rainy days
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190708">
						2019.07.08：被卡第二弹
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190709">
						2019.07.09：我懂
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190710">
						2019.07.10：门牙不出气
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190712">
						2019.07.12：中间是谁
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190713">
						2019.07.13：造乐节
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190715">
						2019.07.15：默契击掌
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190721">
						2019.07.21：早上好
					</a></p>
				</div>
			</div>
			<div class="timeline-item">
				<div class="timeline-icon">
					<img src="{{site.baseurl}}/assets/img/icon.png">

				</div>
				<div class="timeline-content">
					<h2>201908</h2>
					<p><a href="{{site.baseurl}}/posts/20190803">
						2019.08.03：翻滚滚翻
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190804">
						2019.08.04：捏腿打闹
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190805">
						2019.08.05：互穿衣服
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190808">
						2019.08.08：情人节绕口令
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190809">
						2019.08.09：采访互cue
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190811">
						2019.08.11：“偷”水果 / 关心鼓励
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190818">
						2019.08.18：和你一起 / 身高我记得
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190828">
						2019.08.28：微博扫楼
					</a></p>
				</div>
			</div>
			<div class="timeline-item">
				<div class="timeline-icon">
					<img src="{{site.baseurl}}/assets/img/icon.png">

				</div>
				<div class="timeline-content right">
					<h2>201909</h2>
					<p><a href="{{site.baseurl}}/posts/20190901">
						2019.09.01：吃饱了撑着就好 / 周震南纪年法 
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190903">
						2019.09.03：谁最墨迹
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190906">
						2019.09.06：等你一起
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190908">
						2019.09.08：游乐王子 / 帮你做月饼 / 系围裙
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190912">
						2019.09.12：“每天都想暴打一顿”
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190915">
						2019.09.15：你开心就好
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190916">
						2019.09.16：读粉丝的信 / 默契对视
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190922">
						2019.09.22：吃火锅的小互动
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190923">
						2019.09.23：相似的头像
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190927">
						2019.09.27：你胆子好大喔！
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20190929">
						20190929：陪你当裁判 / 无需多言的默契 / 游园会 
					</a></p>
				</div>
			</div>
			<div class="timeline-item">
				<div class="timeline-icon">
					<img src="{{site.baseurl}}/assets/img/icon.png">

				</div>
				<div class="timeline-content">
					<h2>201910</h2>
					<p><a href="{{site.baseurl}}/posts/20191006">
						2019.10.06：选统筹 / 小蜜蜂
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20191009">
						2019.10.09：捧场王
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20191013">
						2019.10.13：小学生打架 / 拧瓶盖
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20191018">
						2019.10.18：互相支撑
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20191019">
						2019.10.19：运动会测试
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20191020">
						2019.10.20：坐就坐，谁怕谁 / 大摆锤
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20191026">
						2019.10.26：看我 / 戴你的手镯 
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20191027">
						2019.10.27：一切事情都能想到你
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20191031">
						2019.10.31：亚洲新歌榜 / Joker
					</a></p>
				</div>

			</div>
			<div class="timeline-item">
				<div class="timeline-icon">
					<img src="{{site.baseurl}}/assets/img/icon.png">

				</div>
				<div class="timeline-content right">
					<h2>201911</h2>
					<p><a href="{{site.baseurl}}/posts/20191101">
						2019.11.01-11.03：超新星全运会
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20191103">
						2019.11.03：日常斗嘴 / 公然放水
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20191116">
						2019.11.16：广州演唱会
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20191125">
						2019.11.25：周震西 
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20191128">
						2019.11.28：粉丝合影
					</a></p>
				</div>

			</div>
			<div class="timeline-item">
				<div class="timeline-icon">
					<img src="{{site.baseurl}}/assets/img/icon.png">

				</div>
				<div class="timeline-content">
					<h2>201912</h2>
					<p><a href="{{site.baseurl}}/posts/20191201">
						2019.12.01：靠向最安心的一边
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20191202">
						2019.12.02：喝豆汁
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20191208">
						2019.12.08：烤肉盒饭 / 小笼包 / 你对他负责就好
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20191209">
						2019.12.09： 蹦极 / 分醋碟 / 最绝的照片 / 海边咖啡厅
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20191214">
						2019.12.14： 重庆演唱会
					</a></p>
					<p><a href="{{site.baseurl}}/posts/20191215">
						2019.12.15： 猪猪锤
					</a></p>
				</div>

			</div>


		</div>
	</div>

	<!-- <div class="test">

	<a href="{{site.baseurl}}/posts/20191031">20191031</a>
	<a href="{{site.baseurl}}/posts/20191013">20191013</a>
	<a href="{{site.baseurl}}/posts/20191019">3</a>

</div> -->

<div class="copyright">
	<p>allTogether - CNJS</p>
</div>

</header>